<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lightsd</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
	<div class="container">
		<div class="page-header">
			<h1>Available lights</h1>
		</div>
	{{#lights}}
		<div class="light">
		<div class="row">
			<div class="col-sm-3" style="margin-top: 7px;"><p>{{name}}</p></div>
			<button type="button" class="btn btn-default btn-sm col-xs-1 sched-add-btn" style="max-width: 2.5em; {{#sched.length}}visibility: hidden;{{/sched.length}}"><span class="glyphicon glyphicon-time"></span></button>
			<div class="btn-group col-sm-3">
				<button type="button" class="btn btn-primary hook" data-href="on?light={{name}}">
					<span class="glyphicon glyphicon-record"></span> On</button>
				<button type="button" class="btn btn-default hook" data-href="off?light={{name}}">
					<span class="glyphicon glyphicon-off"></span> Off</button>
			</div>
		</div>
		<div class="row"><div class="col-sm-5 col-xs-8">
		<div class="panel panel-default sched-panel" {{^sched.length}}style="display: none;"{{/sched.length}}>
			<div class="panel-heading">
				<span class="glyphicon glyphicon-time"></span> Scheduled
				<button type="button" class="btn btn-default btn-sm sched-add-btn" style="float: right; margin-top:-4px;">
					<span class="glyphicon glyphicon-plus"></span></button>
			</div>
			<ul class="list-group">
					{{#sched}}
				<li class="list-group-item">
					<div class="list-group-item-heading">
						<span class="glyphicon glyphicon-{{#state}}record{{/state}}{{^state}}off{{/state}}"></span> <b>{{desc}}</b>
						<div class="btn-group remove-prompt" style="float: right; display: none;">
							<a class="btn btn-xs btn-danger" href="/sched-del?id={{id}}">
								<span class="glyphicon glyphicon-trash"></span>
							</a>
							<button class="btn btn-xs btn-default remove-cancel"><span class="glyphicon glyphicon-remove"></span></button>
						</div>
						<button class="btn btn-xs btn-default remove-show" style="float: right;"><span class="glyphicon glyphicon-remove"></span></button>
					</div>
					<div class="list-group-item-text">
						{{#state}}On{{/state}}{{^state}}Off{{/state}} {{moment}}
					</div>
				</li>
					{{/sched}}
				<li class="list-group-item sched-add" style="display: none;">
					<form class="schedule-add" action="/sched-add" method="POST">
						<div class="btn-group" data-toggle="buttons">
						  <label class="btn btn-primary btn-sm">
						    <input type="radio" name="sched-add-state" value="on" required><span class="glyphicon glyphicon-record"></span> On
						  </label>
						  <label class="btn btn-default btn-sm">
						    <input type="radio" name="sched-add-state" value="off" required><span class="glyphicon glyphicon-off"></span> Off
						  </label>
						</div>
						<div class="input-group date datepicker" data-picker-position="bottom-left" style="width:60%;min-width: 14em;">
						  <input type="text" class="form-control" size="16" maxlength="20" name="sched-add-time" required>
						  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						</div>
						<input type="hidden" name="sched-add-light" value="{{name}}">
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span></button>
					</form>
				</li>
			</ul>
		</div></div></div></div>
	{{/lights}}
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-datetimepicker.min.js"></script>
<script>
function hookURL(elem) {
	elem.addEventListener('click', function(e) {
		console.log(elem.getAttribute('data-href'));
		var oReq = new XMLHttpRequest();
		oReq.open("get", elem.getAttribute('data-href'), true);
		oReq.send();
		e.preventDefault();
	}, false);
}
;[].forEach.call(document.getElementsByClassName('hook'), hookURL);
$('.datepicker').datetimepicker();
$('.remove-show').click(function() {
	$(this).hide();
	$(this).parent().find('.remove-prompt').show();
})
$('.remove-hide').click(function() {
	$(this).parent().hide();
	$(this).parent().parent().find('.remove-show').show();
})
$('.sched-add-btn').click(function() {
	$(this).parents('.light').find('.sched-panel').show();
	$(this).parents('.light').find('.sched-add').show();
})
</script>
</body>
</html>
